.explore-collections {
    padding: 0 32px;
    margin-top: 62px;

    &__tabs {
        display: flex;
        justify-content: space-between;
        margin-top: 48px;
        height: 48px;
        color: rgb(112, 122, 131);
        font-size: 16px;
        border-bottom: 1px solid rgba(229, 232, 235, 0.5);
    }

    &__tabs .tab {
        cursor: pointer;
        position: relative;
    }

    &__tabs .tab::after {
        content: "";
        transition: background-color 0.25s ease-in-out 0s;
        bottom: 0%;
        content: "";
        display: block;
        height: 2px;
        left: 0px;
        position: absolute;
        width: 100%;
    }

    &__tabs .tab.active::after {
        background-color: var(--grayishBlack);
    }

    &__tabs .tab.active {
        color: rgb(53, 56, 64);
    }

    &__body {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 910px) {
    .explore-collections__body {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 910px) and (max-width: 1030px) {
    .explore-collections__body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1030px) and (max-width: 1700px) {
    .explore-collections__body {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1700px) and (max-width:2200px) {
    .explore-collections__body {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 2200px) and (max-width:2400px) {
    .explore-collections__body {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 2400px) and (max-width:2900px) {
    .explore-collections__body {
        grid-template-columns: repeat(6, 1fr);
    }
}